/*
body, html, div, p, span, a, h1, h2, h3, h4, h5{
	margin 				: 0;
	padding 			: 0;
}

body, html{	
	width 				: 100%;
}

body{
	background 			: url('../images/bkgd.png') repeat top left;
	color 				: white;
	font-family 		: tahoma;
	font-weight 		: lighter;
	padding-top 		: 40px;
}

	body p{
		font-size 		: 14px;
	}
	
		body p a{
			font-size	: 16px;
		}

h1 {
	color 				: #E05E00;	
	font-style 			: italic;
}

body{
	background 			: url('../frame/img/bkgd.png') repeat top left;
}
*/

/* general */
.clear {
	clear: both;
}

/* Header */
.brand{
	color 				: #E05E00 !important;	
	font-family 		: georgia;
	font-style 			: italic;
}

/* list stuff */
#org{
	background-color 	: white;
	margin 				: 10px;
	padding 			: 10px;
}

#show-list{
	cursor 				: pointer;
}

/* bootstrap overrides */
.alert-message{
	margin: 2px 0;
}

.topbar{
	position 			: absolute;
}

/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 20px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 0.9em;
	background-color 	: #FFE773; /* org #35363B;#FFCF73*/
	border-radius 		: 8px;
	border 				: 2px solid #BFA730;	/* org 5px solid white; */
	color 				: #FFFFFF;
	-moz-border-radius 	: 8px;
    text-align          : center;	/* org none */
	height              : 40px;		/* org none */
}
.expanded {
	background-color 	: #FFCF73 !important;	/* #FFA900 */
}
.node p{
	font-family 	: tahoma;
	font-size 		: 10px;
	line-height 	: 11px;
	padding 		: 2px;
}
