<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_1185845814786">
	<display-name>SEED</display-name>

	<context-param>
		<param-name>Page_Error</param-name>
		<param-value>/frame/jsp/Error.jsp</param-value>
		<description>任意の画面・処理から呼び出されるエラー画面</description>
	</context-param>
	<context-param>
		<param-name>CloseTime</param-name>
		<param-value>/frame/jsp/CloseTime.jsp</param-value>
		<description>システム利用時間外のJSPファイル</description>
	</context-param>
	<context-param>
		<param-name>WaitTime</param-name>
		<param-value>/frame/jsp/Wait.jsp</param-value>
		<description>メンテナンス中のJSPファイル</description>
	</context-param>
	<context-param>
		<param-name>Loginform</param-name>
		<param-value>/frame/jsp/LoginForm.jsp</param-value>
		<description>システム利用時間内のJSPファイル</description>
	</context-param>
	<context-param>
		<param-name>FROM_DATA</param-name>
		<param-value>0630</param-value>
		<description>システムの利用開始時間</description>
	</context-param>
	<context-param>
		<param-name>TO_DATA</param-name>
		<param-value>2230</param-value>
		<description>システムの利用終了時間HHMM形式で2359まで</description>
	</context-param>
	<context-param>
		<param-name>FROM_DATA_MSG</param-name>
		<param-value>７時</param-value>
		<description>システムの利用開始時間画面メッセージ</description>
	</context-param>
	<context-param>
		<param-name>TO_DATA_MSG</param-name>
		<param-value>２２時</param-value>
		<description>システムの利用終了時間画面メッセージ</description>
	</context-param>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<display-name>EncodingFilter</display-name>
		<description></description>
		<filter-class>authentication.filter.StringFilter</filter-class>
		<init-param>
			<param-name>default_encofing</param-name>
			<param-value>UTF-8</param-value>
			<description></description>
		</init-param>
	</filter>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<display-name>LoginFilter</display-name>
		<description></description>
		<filter-class>authentication.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>Login</param-name>
			<param-value>/Servlet/Login.do</param-value>
			<description>任意の画面・処理から呼び出されるログイン画面</description>
		</init-param>
		<init-param>
			<param-name>Page_Error</param-name>
			<param-value>/frame/jsp/Error.jsp</param-value>
			<description>レポート表示が出来ない場合に呼び出されるエラー画面</description>
		</init-param>
	</filter>
	<filter>
		<filter-name>ReportFilter</filter-name>
		<display-name>ReportFilter</display-name>
		<description></description>
		<filter-class>authentication.filter.ReportFilter</filter-class>
		<init-param>
			<param-name>Menu</param-name>
			<param-value>/Servlet/Menu.do</param-value>
			<description>レポート表示が出来ない場合に戻されるメニュー画面</description>
		</init-param>
	</filter>
	<filter>
		<filter-name>MaintenanceFilter</filter-name>
		<display-name>MaintenanceFilter</display-name>
		<description></description>
		<filter-class>authentication.filter.MaintenanceFilter</filter-class>
		<init-param>
			<param-name>Menu</param-name>
			<param-value>/Servlet/Menu.do</param-value>
			<description>メンテナンス画面表示が出来ない場合に戻されるメニュー画面</description>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MenuServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>ReportServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>ReportServlet2</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenanceUserServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenanceGroupsMstServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>DBServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenanceUserReportServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenanceReportAuthServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenancePosmstServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenanceReportSideServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenanceReportNameServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenanceInfoServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>MaintenanceInfoAuthServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ReportFilter</filter-name>
		<url-pattern>/ReportFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ReportFilter</filter-name>
		<servlet-name>ReportServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<url-pattern>/MaintenanceFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenanceUserServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenanceUserReportServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenanceReportAuthServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenanceGroupsMstServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenancePosmstServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenanceReportSideServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenanceReportNameServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenanceInfoServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MaintenanceFilter</filter-name>
		<servlet-name>MaintenanceInfoAuthServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet id="OnLoad">
		<servlet-name>OnLoad</servlet-name>
		<servlet-class>authentication.servlet.OnLoad</servlet-class>
		<init-param>
			<param-name>JNDI</param-name>
			<param-value>java:comp/env/jdbc/bmana</param-value>
			<description>接続JNDI名</description>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>authentication.servlet.LoginServlet</servlet-class>
		<init-param>
			<param-name>Login</param-name>
			<param-value>/frame/jsp/Login.jsp</param-value>
			<description>ログイン処理から呼び出されるログイン画面URL</description>
		</init-param>

		<init-param>
			<param-name>Login2</param-name>
			<param-value>/frame/jsp/Login2.jsp</param-value>
			<description>ログイン処理から呼び出されるログイン画面②URL</description>
		</init-param>

		<init-param>
			<param-name>TenSelect</param-name>
			<param-value>/frame/jsp/TenSelect.jsp</param-value>
			<description>ログイン処理から呼び出されるログイン画面②URL</description>
		</init-param>

		<init-param>
			<param-name>Menu</param-name>
			<param-value>/Servlet/Menu.do</param-value>
			<description>ログイン処理から呼び出されるメニュー画面URL</description>
		</init-param>

		<init-param>
			<param-name>Pass</param-name>
			<param-value>/frame/jsp/Pass.jsp</param-value>
			<description>ログイン処理から呼び出されるログイン画面③URL</description>
		</init-param>
	</servlet>

	<servlet id="MenuServlet">
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>authentication.servlet.MenuServlet</servlet-class>
		<init-param>
			<param-name>InfoFile</param-name>
			<param-value>WEB-INF/info.txt</param-value>
			<description>お知らせに表示するファイルのパス</description>
		</init-param>
		<init-param>
			<param-name>Menu</param-name>
			<param-value>/frame/jsp/Menu.jsp</param-value>
			<description>メニュー処理から呼び出されるメニュー画面URL</description>
		</init-param>
		<init-param>
			<param-name>MenuCh</param-name>
			<param-value>/frame/jsp/MenuChart.jsp</param-value>
			<description></description>
		</init-param>
	</servlet>

	<servlet id="ReportServlet">
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>authentication.servlet.ReportServlet</servlet-class>
		<init-param>
			<param-name>Menu</param-name>
			<param-value>/Servlet/Menu.do</param-value>
			<description>レポート処理から呼び出されるメニュー画面URL</description>
		</init-param>
		<init-param>
			<param-name>Report</param-name>
			<param-value>/frame/jsp/Report.jsp</param-value>
			<description>レポート処理から呼び出されるレポート画面URL</description>
		</init-param>
	</servlet>

	<servlet id="MaintenanceUserServlet">
		<servlet-name>MaintenanceUserServlet</servlet-name>
		<servlet-class>authentication.servlet.MaintenanceUserServlet</servlet-class>
		<init-param>
			<param-name>MaintenanceUser</param-name>
			<param-value>/frame/jsp/MaintenanceUser.jsp</param-value>
			<description>メンテナンス処理から呼び出されるメンテナンス画面URL</description>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>MaintenanceUserReportServlet</servlet-name>
		<display-name>MaintenanceUserReportServlet</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MaintenanceUserReportServlet</servlet-class>
		<init-param>
			<param-name>MaintenanceUserReport</param-name>
			<param-value>/frame/jsp/MaintenanceUserReport.jsp</param-value>
			<description>メンテナンス画面URL</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MaintenanceReportAuthServlet</servlet-name>
		<display-name>MaintenanceReportAuthServlet</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MaintenanceReportAuthServlet</servlet-class>
		<init-param>
			<param-name>MaintenanceReportAuth</param-name>
			<param-value>/frame/jsp/MaintenanceReportAuth.jsp</param-value>
			<description>メンテナンス画面URL</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MaintenanceGroupsMstServlet</servlet-name>
		<display-name>MaintenanceGroupsMstServlet</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MaintenanceGroupsMstServlet</servlet-class>
		<init-param>
			<param-name>MaintenanceGroupsMst</param-name>
			<param-value>/frame/jsp/MaintenanceGroupsMst.jsp</param-value>
			<description>メンテナンス画面URL</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MaintenancePosmstServlet</servlet-name>
		<display-name>MaintenancePosmstServlet</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MaintenancePosmstServlet</servlet-class>
		<init-param>
			<param-name>MaintenancePosmst</param-name>
			<param-value>/frame/jsp/MaintenancePosmst.jsp</param-value>
			<description>メンテナンス画面URL</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MaintenanceReportSideServlet</servlet-name>
		<display-name>MaintenanceReportSideServlet</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MaintenanceReportSideServlet</servlet-class>
		<init-param>
			<param-name>MaintenanceReportSide</param-name>
			<param-value>/frame/jsp/MaintenanceReportSide.jsp</param-value>
			<description>メンテナンス画面URL</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MaintenanceReportNameServlet</servlet-name>
		<display-name>MaintenanceReportNameServlet</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MaintenanceReportNameServlet</servlet-class>
		<init-param>
			<param-name>MaintenanceReportName</param-name>
			<param-value>/frame/jsp/MaintenanceReportName.jsp</param-value>
			<description>メンテナンス画面URL</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MaintenanceInfoServlet</servlet-name>
		<display-name>MaintenanceInfoServlet</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MaintenanceInfoServlet</servlet-class>
		<init-param>
			<param-name>MaintenanceInfo</param-name>
			<param-value>/frame/jsp/MaintenanceInfo.jsp</param-value>
			<description>メンテナンス画面URL</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MaintenanceInfoAuthServlet</servlet-name>
		<display-name>MaintenanceInfoAuthServlet</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MaintenanceInfoAuthServlet</servlet-class>
		<init-param>
			<param-name>MaintenanceInfoAuth</param-name>
			<param-value>/frame/jsp/MaintenanceInfoAuth.jsp</param-value>
			<description>メンテナンス画面URL</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>PasswordChangeServlet</servlet-name>
		<description></description>
		<servlet-class>
		authentication.servlet.PasswordChangeServlet</servlet-class>
		<init-param>
			<param-name>PasswordChange</param-name>
			<param-value>/frame/jsp/Passwordchange.jsp</param-value>
			<description></description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>InfoViewServlet</servlet-name>
		<description></description>
		<servlet-class>
		authentication.servlet.InfoViewServlet</servlet-class>
		<init-param>
			<param-name>InfoView</param-name>
			<param-value>/frame/jsp/InfoView.jsp</param-value>
			<description></description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MenuCustom</servlet-name>
		<display-name>MenuCustom</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.MenuCustom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Custom</servlet-name>
		<display-name>Custom</display-name>
		<description></description>
		<servlet-class>
		authentication.servlet.Custom</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OnLoadContent</servlet-name>
		<servlet-class>servlet.OnLoad</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ReportServletContent</servlet-name>
		<servlet-class>servlet.ReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExcelGenerateServlet</servlet-name>
		<servlet-class>servlet.ExcelGenerateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JQGridJSON</servlet-name>
		<servlet-class>servlet.JQGridJSON</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JQEasyJSON</servlet-name>
		<servlet-class>servlet.JQEasyJSON</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EasyToJSONServlet</servlet-name>
		<servlet-class>servlet.EasyToJSONServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MobileJSON</servlet-name>
		<display-name>MobileJSON</display-name>
		<description></description>
		<servlet-class>servlet.MobileJSON</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JQEasyUtil</servlet-name>
		<display-name>JQEasyUtil</display-name>
		<description></description>
		<servlet-class>servlet.JQEasyUtil</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>History</servlet-name>
		<display-name>History</display-name>
		<description></description>
		<servlet-class>servlet.History</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchExcelGenerateServlet</servlet-name>
		<servlet-class>servlet.SearchExcelGenerateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileWriterForFtp</servlet-name>
		<servlet-class>servlet.FileWriterForFtp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet2</servlet-name>
		<description></description>
		<servlet-class>authentication.servlet.LoginServlet2</servlet-class>
		<init-param>
			<param-name>Menu</param-name>
			<param-value>/Servlet/Menu.do</param-value>
			<description>ログイン処理から呼び出されるメニュー画面URL</description>
		</init-param>
	</servlet>


	<servlet-mapping id="Login_do">
	  <servlet-name>LoginServlet</servlet-name>
	  <url-pattern>/Servlet/Login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="Login_jsp">
	  <servlet-name>LoginServlet</servlet-name>
	  <url-pattern>/JSP/Login.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping id="Menu_do">
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/Servlet/Menu.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="Report_do">
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/Servlet/Report.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping id="MaintenanceUser_do">
		<servlet-name>MaintenanceUserServlet</servlet-name>
		<url-pattern>/Servlet/MaintenanceUser.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaintenanceUserReportServlet</servlet-name>
		<url-pattern>/Servlet/MaintenanceUserReport.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaintenanceReportAuthServlet</servlet-name>
		<url-pattern>/Servlet/MaintenanceReportAuth.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaintenanceGroupsMstServlet</servlet-name>
		<url-pattern>/Servlet/MaintenanceGroupsMst.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaintenancePosmstServlet</servlet-name>
		<url-pattern>/Servlet/MaintenancePosmst.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaintenanceReportSideServlet</servlet-name>
		<url-pattern>/Servlet/MaintenanceReportSide.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaintenanceReportNameServlet</servlet-name>
		<url-pattern>/Servlet/MaintenanceReportName.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaintenanceInfoServlet</servlet-name>
		<url-pattern>/Servlet/MaintenanceInfo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaintenanceInfoAuthServlet</servlet-name>
		<url-pattern>/Servlet/MaintenanceInfoAuth.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordChangeServlet</servlet-name>
		<url-pattern>/Servlet/PasswordChange.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoViewServlet</servlet-name>
		<url-pattern>/Servlet/InfoView.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuCustom</servlet-name>
		<url-pattern>/MenuCustom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServletContent</servlet-name>
		<url-pattern>/Servlet/ReportContent.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExcelGenerateServlet</servlet-name>
		<url-pattern>/ExcelGenerate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JQGridJSON</servlet-name>
		<url-pattern>/JQGridJSON</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JQEasyJSON</servlet-name>
		<url-pattern>/JQEasyJSON</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EasyToJSONServlet</servlet-name>
		<url-pattern>/EasyToJSON</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Custom</servlet-name>
		<url-pattern>/Custom.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MobileJSON</servlet-name>
		<url-pattern>/mobile/json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JQEasyUtil</servlet-name>
		<url-pattern>/JQEasyUtil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/History</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchExcelGenerateServlet</servlet-name>
		<url-pattern>/SearchExcelGenerate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileWriterForFtp</servlet-name>
		<url-pattern>/FileWriterForFtp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet2</servlet-name>
		<url-pattern>/Servlet/Login2.do</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<res-ref-name>java:/comp/env/jdbc/bmana</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>